:root {
    --bg-color: #0f4b2d;
    --accent-color: rgb(241, 51, 197);
    --text-color: aliceblue;
    --font-family: "adobe-aldine", sans-serif;
    --font-title:"fields-display", sans-serif;
}
body{
    font-family:var(--font-family);
}
h1,h2,h3{
font-family:var(--font-title);
}
