:root {
    --bg-color: #b9a6f0;s
    --accent-color: rgb(227, 174, 215);
    --hover-color:#78A2D2;
    --link-color:#ffff;
    --text-color: aliceblue;
    --font-family:"adobe-aldine", sans-serif;
    --font-title:"fields-display", sans-serif;
}
body{
    background-color: var( --bg-color);
    font-family:var(--font-family);
    color:var(--text-color);
    text-align: center;
}

h1{
    text-align: center;
    font-size: 5em;
    font-weight: 400;
    font-family:var(--font-title);
}
h2{
    text-align: center;
    font-size: 3em;
    font-weight: 200;
    font-family:var(--font-title);
}
h3{
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    font-family:var(--font-title);
}
.nav-link{
    background-color: var(--accent-color);
    color: var(--text-color);
    transition:all 900ms ease-in-out;
    padding: 5px;
    margin:3px;
    display: inline-block;
    border: 1px solid var(--link-color);
    border-radius: 20px;
    text-decoration: none;
}
.nav-link:hover{
    transition: all 300ms ease-out;
     background-color: var(--hover-color);
     color: var(--link-color);
}