html{
    font-size: 18px;
    
}
body {background-color: #78a2d2;
    color: #0f4b2d;
    font-family: "adobe-aldine", sans-serif;
   background: #78A2D2;
background: radial-gradient(circle, rgba(120, 162, 210, 1) 0%, rgba(254, 255, 175, 1) 100%);
}
h1,h2,h3{
    font-family: "fields-display", sans-serif;
}


a {
    color: aliceblue;
    text-decoration: none;
}

a:visited {
    color: aliceblue
}
a:hover {
    color:rgb(241, 51, 197)
}

section{
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 7em;
    font-weight: 400;}
p{
    font-size: 1.2em;
}
main{
    width: 90%;
    margin-left: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 320;
    max-width: 1640px;  max-width: 1600px; 
}
article{
    margin-top: 40px;
    margin-bottom: 40px;
}
h3{
    font-size: 1rem;
    font-weight: 400;
}